@charset "UTF-8";
/* 公共样式start */
html {
  font-size: 10px;
}
:root {
  --main-color: #bf2d2e;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 25px;
  margin: auto;
  background-color: #f6f6f6;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol,
dt,
dl,
dd,
form {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 35px;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #333;
}
a:active {
  outline: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
:focus {
  -moz-outline-style: none;
}

.clear {
  clear: both;
}
input,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
}
a img {
  border: 0;
}
.row {
  margin: 0;
}
html {
  line-height: 1;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  overflow-x: hidden;
}
body {
  font-family: SourceHanSansCN-Normal;
}
*::selection {
  color: #fff;
  background-color: #005bbc;
  text-shadow: none;
}
*::-moz-selection {
  color: #fff;
  background-color: #005bbc;
  text-shadow: none;
}
a {
  text-decoration: none;
  color: #333;
  outline: 0;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
  color: #222;
}
.active {
  color: var(--main-color);
}
/* 公共样式end */

/* 外层 */
.wrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

/* 网站首页start */
/* 头部 */
header {
  height: 114px;
  padding: 25px 0;
  background-color: #ffffff;
}

header .logo {
  float: left;
  width: 133px;
  height: 64px;
}
header ul {
  margin-left: 125px;
  float: left;
  line-height: 64px;
  height: 100%;
}
header .navBg {
  position: absolute;
  top: 114px;
  left: 0;
  height: 42px;
  background-color: #bf2d2e;
  opacity: 0.63;
  line-height: 42px;
  width: 100%;
  display: none;
}
header ul li {
  float: left;
  width: 126px;
  position: relative;
  box-sizing: border-box;
}
header ul li.on:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
  top: 88px;
  left: 25px;
}
header li .home-nav {
  display: none;
  position: absolute;
  top: 78px;
  left: -76px;
  width: 200px;
  z-index: 999;
}
header li .home-nav a {
  font-size: 16px;
  color: #ffffff;
  margin-left: 30px;
}

header ul li a {
  font-family: SourceHanSansCN-Normal;
  font-size: 20px;
}
header ul li:hover a {
  color: var(--main-color);
}
header li:hover .home-nav a {
  color: #fff;
}

/* banner */
.banner {
  height: 814px;
  background: url("../images/banner.jpg");
}

/* 新闻快讯 */
.newsFlash {
  height: 214px;
  background-color: #f5f3f3;
  padding: 60px 0;
  box-sizing: border-box;
}
.newsFlash .newsFlash-logo {
  width: 184px;
  height: 94px;
  background-color: #bf2d2e;
  text-align: center;
  padding: 20px 0;
  float: left;
}
.newsFlash .newsFlash-logo .title {
  font-size: 30px;
  color: #ffffff;
  opacity: 0.9;
}
.newsFlash .newsFlash-logo .sub-title {
  font-size: 23px;
  color: #ffffff;
  opacity: 0.7;
  font-family: SourceHanSansCN-Light;
  margin-top: 8px;
}

.newsFlash .newsFlash-item-time {
  width: 77px;
  height: 95px;
  text-align: center;
  float: left;
  margin-left: 60px;
}
.newsFlash .newsFlash-item-time .newsFlash-time-top {
  background-color: #bf2d2e;
  opacity: 0.7;
  height: 56px;
  line-height: 56px;
  font-size: 34px;
  color: #ffffff;
}
.newsFlash .newsFlash-item-time .newsFlash-time-bottom {
  background-color: #bf2d2e;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #ffffff;
}
.newsFlash .newsFlash-item-context {
  float: left;
  margin-left: 17px;
  width: 490px;
}
.newsFlash .newsFlash-item-context .newsFlash-context-top {
  height: 23px;
  font-family: SourceHanSansCN-Regular;
  font-size: 24px;
  color: #000000;
}
.newsFlash .newsFlash-item-context2 {
  width: 382px;
}
.newsFlash .newsFlash-item-context .newsFlash-context-bottom {
  font-family: SourceHanSansCN-Normal;
  font-size: 18px;
  color: #6c6a6a;
  margin-top: 14px;
  line-height: 30px;
}
/* 合作伙伴 */
.cooperativePartner {
  height: 654px;
  background: url("../images/cooperativePartner.jpg") 100% 100% no-repeat;
}
.cooperationContent {
  width: 780px;
  height: 512px;
  background-color: #bf2d2e;
  float: right;
  margin: 70px 30px;
  padding: 40px 30px 38px 27px;
  box-sizing: border-box;
}
.cooperationContent ul {
  width: 744px;
  height: 100%;
}
.cooperationContent ul li {
  width: 228px;
  height: 132px;
  background-color: #ffffff;
  border-radius: 10px;
  float: left;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.cooperationContent ul .cooperation-first {
  background-color: transparent;
  padding: 20px 10px;
}
.cooperation-first {
  text-align: center;
}
.cooperation-first p {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  line-height: 26px;
  color: #f1f6f9;
  opacity: 0.9;
}
.cooperation-first .coop-title {
  color: #ffffff;
}
.cooperation-first .coop-subtitle {
  font-size: 16px;
  margin-top: 8px;
}
.cooperation-first .coop-content {
  font-size: 18px;
}
.blankLine {
  height: 3px;
  border-radius: 2px;
  width: 23px;
  background-color: #ffffff;
  margin: 10px auto;
}
/* 关于我们 */
.aboutUs {
  height: 568px;
  background-color: #f5f3f3;
  padding: 72px 0;
}
.about-content {
  width: 534px;
  display: inline-block;
}
.wrap-title {
  border-left: 3px solid #cd4f50;
  padding-left: 12px;
  font-size: 30px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.9;
  height: 28px;
  line-height: 28px;
  margin-bottom: 36px;
  margin-top: 16px;
}
.wrap-title .warp-subtitle {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 14px;
  opacity: 0.9;
}
.about-content .wrap-introduce {
  text-indent: 30px;
  width: 535px;
  font-family: SourceHanSansCN-Regular;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #6c6a6a;
}
.about-content .wrap-more {
  width: 116px;
  height: 33px;
  border: solid 1px #000000;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.9;
  margin-top: 56px;
}
.aboutUs .videoBox {
  float: right;
  width: 818px;
  height: 424px;
  position: relative;
}
.aboutUs .videoBox .videopaly {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
  z-index: 99;
}
.aboutUs .videoBox video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* 产品介绍 */
.productIntro {
  height: 730px;
  background: url("../images/productIntro.jpg") 100% 100% no-repeat;
}
.productCotent {
  height: 187px;
  padding-top: 60px;
}
.productList {
  width: 1415px;
  height: 460px;
}
.productList li {
  float: left;
  width: 266px;
  height: 424px;
  background-color: #bf2d2e;
  margin-right: 17px;
  position: relative;
}
.productList li img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.productList .mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bf2d2e;
  background: rgba(191, 45, 46, 0.82);
}
.productList .mask .details {
  width: 133px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 17px;
  border: solid 1px #ffffff;
  text-align: center;
  line-height: 34px;
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.productList li:hover .mask {
  display: block;
}
.productList li .product-title {
  width: 150px;
  height: 17px;
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.9;
  margin: auto;
}
/* 工艺介绍 */
.processIntro {
  height: 575px;
  background-color: #f5f3f3;
  padding-top: 70px;
}
.processIntro .processCotent {
  float: left;
}
.processIntro .process-left {
  width: 720px;
  height: 424px;
  margin-right: 25px;
}
.processIntro .process-left .process-step ul li {
  margin-top: 38px;
}
.process-step .process-step-num {
  width: 45px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  background: url("../images/six.png") 100% 100% no-repeat;
  font-size: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  display: inline-block;
}
.process-step .process-step-text {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}
.processIntro .process-right {
  width: 654px;
  height: 424px;
}
/* 研发 */
.research {
  height: 568px;
  background-color: #f5f3f3;
}
.researchContent {
  width: 1452px;
  height: 100%;
}
.researchContent > li {
  float: left;
  width: 427px;
  height: 479px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 57px;
  text-align: center;
}
.researchContent li .research-img {
  width: 89px;
  height: 89px;
  background-color: #cd4f50;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
  margin-top: 38px;
}
.research-title {
  font-size: 20px;
  letter-spacing: 0px;
  color: #1e1c1d;
  margin-top: 13px;
}
.research-details {
  text-align: left;
  padding: 30px;
  font-size: 15px;
  letter-spacing: 0px;
  color: #6c6a6a;
}
.research-details > p {
  margin-top: 5px;
}
/* 提交信息 */
.submitMes {
  height: 827px;
  background-color: #201011;
  background: url("../images/al-bg.jpg") 100% 100% no-repeat;
}
.submitMes .submitContent {
  height: 145px;
  line-height: 145px;
  width: 1439px;
}
.submitMes .submitContent > div {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.9;
  margin-right: 40px;
}
.submitMes .submitContent .submit-lable > input {
  height: 56px;
  background-color: #f5f3f3;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 178px;
  padding: 3px 10px;
  font-size: 24px;
  box-sizing: border-box;
}
.submitMes .submitContent .submit-lable .submit-num {
  width: 228px;
}
.submitMes .submitContent .submit-lable .submit-message {
  width: 562px;
}
.submitMes .submitContent .submit-lable > button {
  width: 76px;
  height: 56px;
  background-color: #898888;
  border: 1px solid #898888;
  border-radius: 10px;
  font-size: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.9;
}
.submitList ul {
  width: 1452px;
  height: 407px;
}
.submitList ul li {
  float: left;
  width: 432px;
  height: 407px;
  background-color: #f5f3f3;
  border-radius: 10px;
  margin-right: 52px;
  text-align: center;
  padding-top: 16px;
}
.submitList ul li .submit-text {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #000000;
}
/* 公司新闻 */
.companyNews {
  height: 755px;
  background-color: #f5f3f3;
  padding-top: 80px;
}
.companyContent {
  height: 585px;
  background: rgba(5, 0, 0, 0.7);
  background: url("../images/newsBg.png") 100% 100% no-repeat;
}
.companyDetails {
  padding: 0 70px;
  box-sizing: border-box;
}
.companyDetails > div {
  display: inline-block;
}
.companyContent .productCotent {
  height: 148px;
}
.companyDetails-left {
  margin-right: 120px;
}
.companyDetails-right {
  width: 598px;
}
.details-title {
  font-size: 22px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
  margin-top: 25px;
}
.details-text {
  font-size: 16px;
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.9);
}
.details-button {
  width: 91px;
  height: 32px;
  background-color: #bf2d2e;
  font-size: 14px;
  letter-spacing: 0px;
  color: #e1e3e5;
  border: 1px solid #bf2d2e;
  margin-top: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.companyList {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 27px;
}
.companyList .curren-content {
  display: inline-block;
}
.companyList .curren-left {
  text-align: right;
  font-size: 40px;
  color: #e1e3e5;
  opacity: 0.9;
  margin-right: 50px;
}
.companyList .curren-content-eh {
  font-size: 14px;
  color: #e1e3e5;
  opacity: 0.9;
  margin-top: 5px;
}
.companyList:last-child {
  border-bottom: none;
}
/* footer */
footer {
  height: 385px;
  background-color: #121315;
  color: #ffffff;
  box-sizing: border-box;
}

footer .footer-item-box {
  padding-top: 85px;
  float: left;
}
footer .footer-code {
  float: right;
  width: 350px;
  height: 100%;
  background: url("../images/anli.png") 100% 100% no-repeat;
}
footer .footer-item-box .footer-item {
  padding: 0 50px;
  position: relative;
  float: left;
}
footer .footer-item-box .footer-item:first-of-type {
  padding-left: 0;
}
footer .footer-item-box .footer-item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 21px;
  background-color: #fff;
  right: 0;
  top: 2px;
}
footer .footer-item-box .footer-item:last-of-type::before {
  content: "";
  background-color: transparent;
}
footer .footer-item-box .title {
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 36px;
}
footer .footer-item-box li {
  margin-top: 10px;
}
footer .footer-item-box a {
  color: #ffffff;
  font-size: 18px;
}
/* 网站首页end */

/* 内页 */

.content {
  padding: 0px 0px 20px 0px;
  background-color: #fff;
}
.content:after {
  content: " ";
  display: block;
  clear: both;
}
.content .content-wrap {
  width: 100%;
  height: 55px;
  position: relative;
  z-index: 50;
}
.content .content-wrap .wrap {
  position: relative;
}
.content .content-wrap .hotKeyword-text {
  width: 760px;
  height: 80px;
  background: #e76819;
  position: absolute;
  bottom: 0px;
  line-height: 80px;
  left: 0px;
  padding-left: 40px;
}
.content .content-wrap .hotKeyword-text .phone {
  width: 185px;
  height: 30px;
  background: url(../img/21579152259094.png) no-repeat center left;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  padding-left: 37px;
  position: absolute;
  right: 30px;
  top: 25px;
}
.content .content-wrap .hotKeyword-text a {
  min-width: 30px;
  max-width: 96px;
  width: auto;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  margin-right: 30px;
  transition: 0.5s;
}
.content .content-wrap .hotKeyword-text a:hover {
  color: #fff;
  transition: 0.5s;
}
.content .content-wrap .hotKeyword-text h5 {
  width: 90px;
  height: 80px;
  line-height: 80px;
  float: left;
  margin-right: 30px;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
}
.content .content-wrap .hotKeyword-text ul {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 380px;
  height: 80px;
}
.content .content-wrap .hotKeyword-input {
  width: 395px;
  float: right;
  height: 40px;
  position: relative;
  top: 10px;
  border-bottom: 1px solid #999;
}
.content .content-wrap .hotKeyword-input .basec {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 30px;
  top: 10px;
}
.content .content-wrap .hotKeyword-input .basec:hover {
  cursor: pointer;
}
.content .content-wrap .hotKeyword-input input {
  width: 320px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #a5a4a4;
  text-indent: 5px;
  border: none;
  background: transparent;
}
.content .content-wrap .hotKeyword-input input::-webkit-input-placeholder {
  color: #a5a4a4;
  font-size: 14px;
}

/* 当前位置 */
.common-position {
  padding: 0px 0px 0px 0px;
  background-color: #fff;
}
.common-position .crumbs {
  height: 50px;
}
.common-position .crumbs .wrap {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
.common-position .crumbs .wrap:before {
  content: "";
  display: block;
  width: 6px;
  height: 30px;
  background-color: #5ab33d;
  position: absolute;
  left: 0;
  top: 10px;
}
.common-position .crumbs .wrap em {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
  line-height: 50px;
  color: #666;
  float: left;
}
.common-position .crumbs .wrap a {
  display: inline-block;
  line-height: 50px;
  color: #666;
  padding-right: 20px;
  position: relative;
  float: left;
}
.common-position .crumbs .wrap a:hover {
  color: #5ab33d;
}
.common-position .crumbs .wrap a:after {
  content: ">";
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-family: "宋体";
  color: #666;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 16px;
}
.common-position .crumbs .wrap a:last-of-type:after {
  display: none;
}
.common-position .crumbs .wrap span {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  color: #333;
  float: left;
  position: relative;
}

.common-position {
}

@media screen and (max-width: 992px) {
  .common-position {
    display: none;
  }
}

/* 产品 */
.productBox {
  padding: 60px 0px 60px 0px;
  background-color: #fff;
  background-attachment: fixed;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.productBox .main {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .productBox .main {
    width: 1400px;
  }
}
.productBox .row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.productBox .col-12,
.productBox .col-11,
.productBox .col-10,
.productBox .col-9,
.productBox .col-8,
.productBox .col-7,
.productBox .col-6,
.productBox .col-5,
.productBox .col-4,
.productBox .col-3,
.productBox .col-2,
.productBox .col-1 {
  position: relative;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 1200px) {
  .product-list .classify {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .product-list .classify ul {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (min-width: 768px) {
  .product-list .classify ul {
    padding: 0 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .product-list .classify ul li:hover .image .img {
    transform: scale(1.1);
    transition: 1s;
  }
}
.product-list .classify ul li {
  position: relative;
  overflow: hidden;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .product-list .classify ul li {
    width: 50%;
    padding: 0 10px;
    float: left;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .product-list .classify ul li {
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
.product-list .classify ul li > a {
  display: block;
  width: 100%;
  padding-bottom: 80%;
  position: relative;
}
.product-list .classify ul li > a .image {
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.product-list .classify ul li > a .image .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: 1s;
}
.product-list .classify ul li > a .text {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.product-list .classify ul li > a .text .textCon {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 30;
}
.product-list .classify ul li > a .text .textCon h3 {
  font-size: 1.6rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 180%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .product-list .classify ul li > a .text .textCon h3 {
    font-size: 16px;
  }
}
.product-list .classify ul li > a .text .textCon p {
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.6;
}
.product-list .pagination {
  overflow: hidden;
  margin: 1.5rem auto;
  padding: 1rem 0;
  text-align: center;
}
.product-list .pagination > div {
  display: inline-block;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #eee;
}
.product-list .pagination a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  vertical-align: top;
  color: #333;
  overflow: hidden;
  transition: all 0.3s ease;
}
.product-list .pagination a span {
  display: none;
}
.product-list .pagination a:hover,
.product-list .pagination a:active,
.product-list .pagination a:focus {
  color: #fff;
  background-color: #5ab33d;
}
.product-list .pagination .prepage {
  border-right: 0.1rem solid #fff;
  border-radius: 0.3rem 0 0 0.3rem;
}
.product-list .pagination .nextpage {
  border-left: 0.1rem solid #fff;
  border-radius: 0 0.3rem 0.3rem 0;
}
.product-list .jump-menus {
  display: inline-block;
  height: 3.2rem;
  vertical-align: top;
  line-height: 3.2rem;
  font-size: 1.4rem;
  padding: 0 1.25rem 0 0;
  box-sizing: border-box;
  color: #333;
}
.product-list .jump-menus select {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0.75rem;
  outline: 0;
  border: 0;
  line-height: 3.2rem;
  height: 3.2rem;
  margin: 0;
  display: inline-block;
  background: 0;
}

/* 联系我们 */
.contact-content-wrap {
  color: #5ab33d;
  background-color: #fff;
  margin: auto;
  padding: 0px 0px 0px 0px;
  position: static;
  z-index: auto;
}
.contact-content {
  width: 1400px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1200px) {
  .contact-content {
    padding: 0;
  }
}
.contact-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}
@media (min-width: 1200px) {
  .contact-content p {
    line-height: 500%;
    font-size: 12px;
    opacity: 1;
  }
}
.contact-content p b {
  font-weight: 500;
}
.contact-content p .line {
  font-style: normal;
  margin: 0 10px;
  display: none;
}
@media (min-width: 751px) {
  .contact-content p .line {
    display: inline;
  }
}
.contact-content p span {
  display: block;
}
@media (min-width: 751px) {
  .contact-content p span {
    display: inline;
  }
}
.contact-content p span a {
  padding-right: 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 751px) {
  .contact-content p span a {
    padding-right: 0;
  }
}

.contact-content .ttl {
  height: 500px;
  padding-top: 120px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://sjzz.ilhjy.cn/uimg/202003/011586402847120_7660046.png@f_webp,q_80");
}
.contact-content .ttl > p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  line-height: 40px;
}
.contact-content .ttl > p > strong {
  font-size: 20px;
  color: #5ab33d;
  font-weight: normal;
}
.contact-content .ttl hr {
  width: 60px;
  height: 6px;
  background-color: #5ab33d;
}
.contact-content .ttl em {
  display: block;
  margin: 10px auto 20px;
  width: 600px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-content .ttl i {
  border: 10px solid #5ab33d;
  border-top-color: #5ab33d;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.contact-content .ttl h3 {
  font-size: 18px;
  color: #333;
  background-size: cover;
  background-position: center;
  height: 35px;
  overflow: hidden;
}

.contact-content .lb {
  position: relative;
  top: -30px;
}
.contact-content .lb li {
  width: 220px;
  padding: 0 20px;
  text-align: center;
  float: left;
}
.contact-content .lb li span {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #5ab33d;
}
.contact-content .lb li span i {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-content .lb li b {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #333;
  line-height: 40px;
}
.contact-content .lb li > p {
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 20px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-content .lb ul {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}
.contact-content .lb li:hover span {
  transform: rotate(360deg);
  transition: 0.5s;
}

/* 立即咨詢 */
.lib62813377_1 {
  margin: auto;
  padding: 40px 0px 40px 0px;
  background-color: #eee;
  background-image: url("http://www.wysmtw.cn/public/images/mes-bg.jpg");
  background-position: 0px 0px;
}
.lib62813377_1:after {
  content: " ";
  display: block;
  clear: both;
}
.lib62813377_1 em,
.lib62813377_1 i {
  font-style: normal;
}
.lib62813377_1 .mes {
  width: 100%;
}
.lib62813377_1 .mess-bg {
  width: 100%;
  box-sizing: border-box;
}
.lib62813377_1 .mess-main {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}
.lib62813377_1 .iii label {
  color: rgba(0, 0, 0, 0.8);
  margin-right: 10px;
}
.lib62813377_1 .mess-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 30px 0 32px 0;
}
.lib62813377_1 .mess-input input {
  width: 266px;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  outline: none;
  font-size: 14px;
  color: #666;
}
.lib62813377_1 .mess-input textarea {
  height: 50px;
  line-height: 50px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  overflow-y: hidden;
  padding-left: 5px;
  padding-top: 0px;
  width: 625px;
  outline: none;
  font-size: 14px;
  color: #666;
  font-family: none;
}
.lib62813377_1 textarea::-webkit-input-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 textarea:-moz-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 textarea::-moz-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 textarea::-ms-input-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 input::-webkit-input-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 input::-moz-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 input:-moz-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 input:-ms-input-placeholder {
  color: #666;
  font-family: "宋体";
}
.lib62813377_1 .mess-main a {
  width: 130px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  margin: auto;
  background: #5ab33d;
  border-radius: 5px;
  cursor: pointer;
}
.lib62813377_1 .mes-bot {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lib62813377_1 .mes-bot div {
  letter-spacing: 5px;
}
.lib62813377_1 .mes-bot div:first-child {
  margin-right: 20px;
}
.lib62813377_1 .sys_tit1,
.lib62813377_1wap1 .sys_tit1 {
  position: relative;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
}
.lib62813377_1 .sys_tit1:after,
.lib62813377_1wap1 .sys_tit1:after {
  display: block;
  content: " ";
  clear: both;
}
.lib62813377_1 .sys_tit1 > h2,
.lib62813377_1wap1 .sys_tit1 > h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  line-height: 180%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.lib62813377_1 .sys_tit1 > p,
.lib62813377_1wap1 .sys_tit1 > p {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-size: 1.2rem;
  line-height: 180%;
  display: block;
  opacity: 0.8;
}
@media (min-width: 992px) {
  .lib62813377_1 .sys_tit1,
  .lib62813377_1wap1 .sys_tit1 {
    position: relative;
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }
  .lib62813377_1 .sys_tit1:after,
  .lib62813377_1wap1 .sys_tit1:after {
    display: block;
    content: " ";
    clear: both;
  }
  .lib62813377_1 .sys_tit1 > h2,
  .lib62813377_1wap1 .sys_tit1 > h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    line-height: 180%;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  .lib62813377_1 .sys_tit1 > p,
  .lib62813377_1wap1 .sys_tit1 > p {
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    font-size: 19.2px;
    line-height: 180%;
    display: block;
    opacity: 0.8;
  }
}
.lib62813377_1 {
  color: #5ab33d;
  background-color: #eee;
  margin: auto;
  padding: 40px 0px 40px 0px;
  position: static;
  z-index: auto;
}

/* 企业动态 新闻 */
.lib62156920_3 {
  padding: 60px 0px 60px 0px;
  background-color: #fff;
  background-attachment: fixed;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.lib62156920_3:after {
  content: " ";
  display: block;
  clear: both;
}
.lib62156920_3 i,
.lib62156920_3 em {
  font-style: normal;
}
.lib62156920_3 .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.lib62156920_3 .clearfix {
  *zoom: 1;
}
.lib62156920_3 .clear {
  clear: both;
}
.lib62156920_3 .nav {
  width: 100%;
}
.lib62156920_3 .main {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .lib62156920_3 .main {
    width: 1200px;
  }
}
.lib62156920_3 .row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.lib62156920_3 .col-12,
.lib62156920_3 .col-11,
.lib62156920_3 .col-10,
.lib62156920_3 .col-9,
.lib62156920_3 .col-8,
.lib62156920_3 .col-7,
.lib62156920_3 .col-6,
.lib62156920_3 .col-5,
.lib62156920_3 .col-4,
.lib62156920_3 .col-3,
.lib62156920_3 .col-2,
.lib62156920_3 .col-1 {
  position: relative;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 751px) and (max-width: 1199px) {
  .lib62156920_3 .col-12,
  .lib62156920_3 .col-11,
  .lib62156920_3 .col-10,
  .lib62156920_3 .col-9,
  .lib62156920_3 .col-8,
  .lib62156920_3 .col-7,
  .lib62156920_3 .col-6,
  .lib62156920_3 .col-5,
  .lib62156920_3 .col-4,
  .lib62156920_3 .col-3,
  .lib62156920_3 .col-2,
  .lib62156920_3 .col-1 {
    float: left;
  }
  .lib62156920_3 .col-12 {
    width: 100%;
  }
  .lib62156920_3 .col-11 {
    width: 91.66666667%;
  }
  .lib62156920_3 .col-10 {
    width: 66.66666667%;
  }
  .lib62156920_3 .col-9 {
    width: 50%;
  }
  .lib62156920_3 .col-8 {
    width: 66.66666667%;
  }
  .lib62156920_3 .col-7 {
    width: 58.33333333%;
  }
  .lib62156920_3 .col-6 {
    width: 50%;
  }
  .lib62156920_3 .col-5 {
    width: 41.66666667%;
  }
  .lib62156920_3 .col-4 {
    width: 33.33333333%;
  }
  .lib62156920_3 .col-3 {
    width: 50%;
  }
  .lib62156920_3 .col-2 {
    width: 33.33333333%;
  }
  .lib62156920_3 .col-1 {
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3 .col-12,
  .lib62156920_3 .col-11,
  .lib62156920_3 .col-10,
  .lib62156920_3 .col-9,
  .lib62156920_3 .col-8,
  .lib62156920_3 .col-7,
  .lib62156920_3 .col-6,
  .lib62156920_3 .col-5,
  .lib62156920_3 .col-4,
  .lib62156920_3 .col-3,
  .lib62156920_3 .col-2,
  .lib62156920_3 .col-1 {
    float: left;
  }
  .lib62156920_3 .col-12 {
    width: 100%;
  }
  .lib62156920_3 .col-11 {
    width: 91.66666667%;
  }
  .lib62156920_3 .col-10 {
    width: 83.33333333%;
  }
  .lib62156920_3 .col-9 {
    width: 75%;
  }
  .lib62156920_3 .col-8 {
    width: 66.66666667%;
  }
  .lib62156920_3 .col-7 {
    width: 58.33333333%;
  }
  .lib62156920_3 .col-6 {
    width: 50%;
  }
  .lib62156920_3 .col-5 {
    width: 41.66666667%;
  }
  .lib62156920_3 .col-4 {
    width: 33.33333333%;
  }
  .lib62156920_3 .col-3 {
    width: 25%;
  }
  .lib62156920_3 .col-2 {
    width: 16.66666667%;
  }
  .lib62156920_3 .col-1 {
    width: 8.33333333%;
  }
}
.lib62156920_3 .sys_tit1,
.lib62156920_3wap1 .sys_tit1 {
  position: relative;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
}
.lib62156920_3 .sys_tit1:after,
.lib62156920_3wap1 .sys_tit1:after {
  display: block;
  content: " ";
  clear: both;
}
.lib62156920_3 .sys_tit1 > h2,
.lib62156920_3wap1 .sys_tit1 > h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  line-height: 180%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.lib62156920_3 .sys_tit1 > p,
.lib62156920_3wap1 .sys_tit1 > p {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-size: 1.2rem;
  line-height: 180%;
  display: block;
  opacity: 0.8;
}
@media (min-width: 992px) {
  .lib62156920_3 .sys_tit1,
  .lib62156920_3wap1 .sys_tit1 {
    position: relative;
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }
  .lib62156920_3 .sys_tit1:after,
  .lib62156920_3wap1 .sys_tit1:after {
    display: block;
    content: " ";
    clear: both;
  }
  .lib62156920_3 .sys_tit1 > h2,
  .lib62156920_3wap1 .sys_tit1 > h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    line-height: 180%;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  .lib62156920_3 .sys_tit1 > p,
  .lib62156920_3wap1 .sys_tit1 > p {
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    font-size: 19.2px;
    line-height: 180%;
    display: block;
    opacity: 0.8;
  }
}
.lib62156920_3 {
  color: #5ab33d;
  background-color: #fff;
  margin: auto;
  padding: 60px 0px 60px 0px;
  position: static;
  z-index: auto;
}
.lib62156920_3list2:after {
  content: " ";
  display: block;
  clear: both;
}
.lib62156920_3list2 i,
.lib62156920_3list2 em {
  font-style: normal;
}
.lib62156920_3list2 .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.lib62156920_3list2 .clearfix {
  *zoom: 1;
}
.lib62156920_3list2 .classify2 {
  width: 100%;
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul {
    padding: 0 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li:hover .image .img {
    transform: scale(1.1);
    transition: 1s;
  }
  .lib62156920_3list2 .classify2 ul li:hover .text .textCon h3 {
    color: #5ab33d;
    transition: 1s;
  }
  .lib62156920_3list2 .classify2 ul li:hover .text .textCon p {
    opacity: 1;
    transition: 1s;
  }
  .lib62156920_3list2 .classify2 ul li:hover .text .moreBox .more {
    color: #5ab33d;
    transition: 1s;
  }
}
.lib62156920_3list2 .classify2 ul li {
  position: relative;
  overflow: hidden;
  padding: 0 1.25rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li {
    margin-bottom: 50px;
  }
}
.lib62156920_3list2 .classify2 ul li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.lib62156920_3list2 .classify2 ul li > a .image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .image {
    width: 340px;
    height: 270px;
    margin-right: 30px;
    float: left;
  }
}
.lib62156920_3list2 .classify2 ul li > a .image .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: 1s;
}
.lib62156920_3list2 .classify2 ul li > a .text {
  overflow: hidden;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text {
    height: 270px;
    position: relative;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .textCon {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 30;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text .textCon {
    height: 230px;
    padding-top: 20px;
    box-sizing: border-box;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .textCon h3 {
  font-size: 1.8rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 140%;
  transition: 1s;
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li > a .text .textCon h3 {
    font-size: 20px;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .textCon p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1rem;
  opacity: 0.8;
  transition: 1s;
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li > a .text .textCon p {
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .moreBox {
  width: 100%;
  padding: 1rem 0;
  border-top: 0.1rem solid rgba(221, 221, 221, 0.3);
  border-bottom: 0.1rem solid rgba(221, 221, 221, 0.3);
  margin-top: 1rem;
  line-height: 140%;
  color: rgba(221, 221, 221, 0.3);
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox {
    padding: 10px 0;
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox {
    padding: 0;
    margin-top: 0;
    height: 40px;
    border-top: 1px solid rgba(221, 221, 221, 0.3);
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
    line-height: 38px;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .moreBox .time {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.5rem;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox .time {
    font-size: 14px;
    margin-right: 5px;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .moreBox .column {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.5rem;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox .column {
    font-size: 14px;
    margin-right: 5px;
  }
}
.lib62156920_3list2 .classify2 ul li > a .text .moreBox .more {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.5rem;
  opacity: 0.8;
  display: block;
  margin-top: 0.5rem;
  transition: 1s;
}
@media (min-width: 768px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox .more {
    margin-top: 5px;
    font-size: 14px;
    margin-right: 5px;
  }
}
@media (min-width: 1200px) {
  .lib62156920_3list2 .classify2 ul li > a .text .moreBox .more {
    margin-top: 0;
    float: right;
    font-size: 14px;
    margin-right: 5px;
  }
}
.lib62156920_3list2 .pagination {
  overflow: hidden;
  margin: 1.5rem auto;
  padding: 1rem 0;
  text-align: center;
}
.lib62156920_3list2 .pagination > div {
  display: inline-block;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #eee;
}
.lib62156920_3list2 .pagination a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  vertical-align: top;
  color: #333;
  overflow: hidden;
  transition: all 0.3s ease;
}
.lib62156920_3list2 .pagination a span {
  display: none;
}
.lib62156920_3list2 .pagination a:hover,
.lib62156920_3list2 .pagination a:active,
.lib62156920_3list2 .pagination a:focus {
  color: #fff;
  background-color: #5ab33d;
}
.lib62156920_3list2 .pagination .prepage {
  border-right: 0.1rem solid #fff;
  border-radius: 0.3rem 0 0 0.3rem;
}
.lib62156920_3list2 .pagination .nextpage {
  border-left: 0.1rem solid #fff;
  border-radius: 0 0.3rem 0.3rem 0;
}
.lib62156920_3list2 .jump-menus {
  display: inline-block;
  height: 3.2rem;
  vertical-align: top;
  line-height: 3.2rem;
  font-size: 1.4rem;
  padding: 0 1.25rem 0 0;
  box-sizing: border-box;
  color: #333;
}
.lib62156920_3list2 .jump-menus select {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0.75rem;
  outline: 0;
  border: 0;
  line-height: 3.2rem;
  height: 3.2rem;
  margin: 0;
  display: inline-block;
  background: 0;
}
.lib62156920_3list2 .jump-menus select:hover,
.lib62156920_3list2 .jump-menus select:active,
.lib62156920_3list2 .jump-menus select:focus {
  border-color: #5ab33d;
}
.lib62156920_3list2 .jump-menus select:hover,
.lib62156920_3list2 .jump-menus select:active,
.lib62156920_3list2 .jump-menus select:focus {
  border-color: #5ab33d;
}
.lib62156920_3list2 {
  color: #5ab33d;
  background-color: transparent;
  margin: auto;
  padding: 0;
  position: static;
  z-index: auto;
}
