.lib40917467_3 {
    margin: auto;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
  }
  .lib40917467_3:after {
    content: " ";
    display: block;
    clear: both;
  }
  .lib40917467_3 i,
  .lib40917467_3 em {
    font-style: normal;
  }
  .lib40917467_3 .clear {
    clear: both;
  }
  .lib40917467_3 .t-nav {
    height: 114px;
    width: 100%;
    position: relative;
  }
  .lib40917467_3 .t-nav .menu {
    max-width: 1200px;
    height: 114px;
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .lib40917467_3 .t-nav .menu ul {
    display: flex;
    justify-content: space-between;
  }
  .lib40917467_3 .t-nav ul {
    height: 114px;
  }
  .lib40917467_3 .t-nav ul li {
    float: left;
    height: 114px;
    padding: 0 30px;
    position: relative;
  }
  .lib40917467_3 .t-nav ul li::before{
    content: "";
    width: 1px;
    height: 20px;
    background-color: #000;
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .lib40917467_3 .t-nav ul li:last-child::before{
    width: 0;
  }
  .lib40917467_3 .t-nav ul li.cur > a,
  .lib40917467_3 .t-nav ul li > a:hover,
  .lib40917467_3 .t-nav ul li:hover > a {
    font-weight: bold;
    color: #bf2d2e;
  }
  .lib40917467_3 .t-nav ul li > a {
    display: block;
    height: 114px;
    font: normal 20px/114px "Microsoft YaHei";
    color: #060100;
    text-align: center;
    width: 100%;

  }
  .lib40917467_3 .t-nav ul li .active{
    font-weight: bold;
    color: #bf2d2e;
  }
  .lib40917467_3 .t-nav ul li.on:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -16px;
    width: 0;
    height: 0;
    border-width: 8px;
    margin-left: -8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10000;
  }
  .lib40917467_3 .t-nav ul li .erjp {
    position: absolute;
    left: 50%;
    display: none;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    font-size: 0;
    line-height: 0;
  }
  .lib40917467_3 .t-nav ul li .erjp a {
    display: inline-block;
    height: 45px;
    font: normal 14px/45px "Microsoft YaHei";
    color: #fff;
    padding: 0 10px 0 15px;
  }
  .lib40917467_3 .t-nav ul li .erjp a:hover {
    color: #060100;
  }
  .lib40917467_3 .t-nav .erjsv {
    position: absolute;
    top: 114px;
    left: 0;
    background: rgba(191, 45, 46, 0.82);
    width: 100%;
    height: 45px;
    line-height: 45px;
    z-index: 12;
    text-align: right;
    display: none;
    z-index: 999;
  }
  .lib40917467_3 .sys_tit1,
  .lib40917467_3wap1 .sys_tit1 {
    position: relative;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0;
  }
  .lib40917467_3 .sys_tit1:after,
  .lib40917467_3wap1 .sys_tit1:after {
    display: block;
    content: " ";
    clear: both;
  }
  .lib40917467_3 .sys_tit1 > h2,
  .lib40917467_3wap1 .sys_tit1 > h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    line-height: 180%;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  .lib40917467_3 .sys_tit1 > p,
  .lib40917467_3wap1 .sys_tit1 > p {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-size: 1.2rem;
    line-height: 180%;
    display: block;
    opacity: 0.8;
  }
  @media (min-width: 992px) {
    .lib40917467_3 .sys_tit1,
    .lib40917467_3wap1 .sys_tit1 {
      position: relative;
      text-align: center;
      padding: 40px 0;
      margin: 0;
    }
    .lib40917467_3 .sys_tit1:after,
    .lib40917467_3wap1 .sys_tit1:after {
      display: block;
      content: " ";
      clear: both;
    }
    .lib40917467_3 .sys_tit1 > h2,
    .lib40917467_3wap1 .sys_tit1 > h2 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 32px;
      line-height: 180%;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }
    .lib40917467_3 .sys_tit1 > p,
    .lib40917467_3wap1 .sys_tit1 > p {
      color: rgba(255, 255, 255, 0.8);
      margin: 0;
      font-size: 19.2px;
      line-height: 180%;
      display: block;
      opacity: 0.8;
    }
  }
  .lib40917467_3 {
    color: #060100;
    background-color: #fff;
    margin: auto;
    padding: 0px 0px 0px 0px;
    position: static;
    z-index: auto;
  }
  @media screen and (max-width: 992px) {
    .lib40917467_3 {
      display: none;
    }
  }

  .lib40917467_3wap1header {
    height: 5rem;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .lib40917467_3wap1po {
    position: fixed !important;
    z-index: 99999 !important;
  }
  .lib40917467_3wap1 {
    width: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .lib40917467_3wap1 * {
    -webkit-tap-highlight-color: transparent;
  }
  .lib40917467_3wap1 .showhide {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  }
  .lib40917467_3wap1 .wrap {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: 0 auto;
    background-color: #fff;
    z-index: 999;
  }
  .lib40917467_3wap1 .wrap .logo {
    display: block;
    text-align: center;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    overflow: hidden;
    font-size: 1.8rem;
    color: #666;
    padding: 0 6rem;
    box-sizing: border-box;
    margin: 0 auto;
    transition: height 0.5s ease;
  }
  .lib40917467_3wap1 .nav_toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    overflow: hidden;
    top: 0rem;
    left: 0.5rem;
    width: 5rem;
    height: 5rem;
  }
  .lib40917467_3wap1 .nav_toggle em {
    display: block;
    font-style: normal;
    height: 0.2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
    margin-top: -0.1rem;
    margin-left: -1rem;
    position: absolute;
    content: "";
    background-color: #666;
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .nav_toggle:before {
    height: 0.2rem;
    width: 2rem;
    top: 1.8rem;
    left: 50%;
    margin-left: -1rem;
    position: absolute;
    display: block;
    content: "";
    background-color: #666;
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .nav_toggle:after {
    height: 0.2rem;
    width: 2rem;
    bottom: 1.8rem;
    left: 50%;
    margin-left: -1rem;
    position: absolute;
    display: block;
    content: "";
    background-color: #666;
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .icon_toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    overflow: hidden;
    top: 0rem;
    right: 0.5rem;
    width: 5rem;
    height: 5rem;
  }
  .lib40917467_3wap1 .icon_toggle em {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border: 0.2rem solid #666;
    border-radius: 100%;
    top: 1.5rem;
    margin-left: -1rem;
    left: 50%;
    background-color: #fff;
    position: absolute;
    content: "";
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .icon_toggle:before {
    height: 1.8rem;
    width: 0.2rem;
    top: 1.68rem;
    right: 2.2rem;
    position: absolute;
    display: block;
    content: "";
    background-color: #666;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .nav.showslide {
    opacity: 1 !important;
    visibility: visible !important;
    height: 100vh !important;
    transition: visibility 0.5s ease, opacity 0.5s ease, height 0.5s ease;
  }
  .lib40917467_3wap1 .nav {
    height: 0;
    width: 100%;
    position: fixed;
    top: 5rem;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    background-image: -webkit-gradient(
      linear,
      0 50%,
      100% 50%,
      color-stop(0, #e76819),
      color-stop(100%, #e72319)
    );
    background-image: -moz-linear-gradient(left, #e76819 0, #e72319 100%);
    background-image: -webkit-linear-gradient(left, #e76819 0, #e72319 100%);
    background-image: linear-gradient(to right, #e76819 0, #e72319 100%);
    transition: visibility 0.5s ease, opacity 0.5s ease, height 0.5s ease;
    overflow-y: scroll !important;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul {
    padding-bottom: 8rem;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li {
    position: relative;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li > a {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    line-height: 5rem;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .subnav {
    padding-left: 2rem;
    display: none;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .subnav a {
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: transform 0.5s, opacity 0.5s;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    line-height: 4rem;
    text-decoration: none;
    position: relative;
    padding-left: 0.9rem;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .subnav a:before {
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 1.8rem;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .nav_add {
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    z-index: 10001;
    transform: rotate(45deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .nav_add:before {
    position: absolute;
    display: block;
    content: "";
    width: 1rem;
    height: 0.1rem;
    top: 2rem;
    left: 2rem;
    background-color: #fff;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li .nav_add:after {
    display: block;
    content: "";
    position: absolute;
    height: 1rem;
    width: 0.1rem;
    top: 2rem;
    right: 2rem;
    background-color: #fff;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li.cur > a {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    line-height: 5rem;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li.cur .subnav {
    padding-bottom: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li.cur .subnav a {
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: transform 0.5s, opacity 0.5s;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    line-height: 4rem;
    text-decoration: none;
    position: relative;
    padding-left: 0.9rem;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li.cur .subnav a:before {
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 1.8rem;
  }
  .lib40917467_3wap1 .nav .wrap_nav ul li.cur .nav_add {
    transform: rotate(135deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
  }
  .lib40917467_3wap1 .searchbar {
    width: 100%;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    display: block;
    position: fixed;
    left: 0;
    top: 5rem;
    z-index: 999999999;
    transition: height 0.5s ease;
    background-color: #f9f9f9;
  }
  .lib40917467_3wap1 .searchbar .search {
    width: 100%;
    box-sizing: border-box;
    height: 5rem;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .lib40917467_3wap1 .searchbar .search input:first-child {
    background-color: #fff;
    width: 100%;
    outline: none;
    height: 5rem;
    padding: 0 5rem 0 1rem;
    font-size: 1.4rem;
    color: #999;
    border-radius: 0;
    border: none;
  }
  .lib40917467_3wap1 .searchbar .search .bmit {
    position: absolute;
    display: block;
    cursor: pointer;
    overflow: hidden;
    top: 0rem;
    right: 0;
    width: 5rem;
    height: 5rem;
    z-index: 3;
    background: none;
    border: none;
  }
  .lib40917467_3wap1 .searchbar .search .icon {
    position: absolute;
    display: block;
    cursor: pointer;
    overflow: hidden;
    top: 0rem;
    right: 0;
    width: 5rem;
    height: 5rem;
    z-index: 0;
  }
  .lib40917467_3wap1 .searchbar .search .icon em {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border: 0.2rem solid #999;
    border-radius: 100%;
    top: 1.5rem;
    margin-left: -1rem;
    left: 50%;
    background-color: #fff;
    position: absolute;
    content: "";
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .searchbar .search .icon:before {
    height: 1.8rem;
    width: 0.2rem;
    top: 1.68rem;
    right: 2.2rem;
    position: absolute;
    display: block;
    content: "";
    background-color: #999;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  .lib40917467_3wap1 .searchbar.open {
    height: 9rem;
    padding: 2rem 2rem;
    transition: height 0.5s ease;
  }
  .lib40917467_3wap1 .searchbar.open .search {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .lib40917467_3wap1 .overlay {
    display: none;
  }
  .lib40917467_3wap1 .overlay.active {
    opacity: 0.5;
    pointer-events: auto;
  }
  .lib40917467_3wap1 .posfix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .lib40917467_3wap1 {
    color: #e76819;
    padding: 0;
    z-index: auto;
    background-color: transparent;
  }
  
  @media screen and (min-width: 992px) {
    .lib40917467_3wap1 {
      display: none;
    }
  }

